@import 'reset';
@import 'fonts';

$background-color: #F8EDE0;
$primary-color: #fe8100;
$primary-color-dark: #FF5100;
$font-stack: 'Avenir-Medium', Helvetica Neue, Helvetica, sans-serif;
$font-stack-bold: 'Avenir-Black', Helvetica Neue, Helvetica, sans-serif;
