@import url('https://fonts.googleapis.com/css?family=Raleway');

// Override fonts
$font-family-sans-serif: 'Filson Soft', 'Raleway', sans-serif;
$font-family-serif: 'Filson Soft', Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: 'Filson Soft', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

// Set global options
$enable-shadows: true;
$enable-gradients: true;

// Links
//
// Style anchor elements.

$link-color:                              white !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;

@media (min-width: 768px) {
  #home-background-svg {
    content:url("./assets/home.svg");
  }
  #contact-background-svg {
    content:url("./assets/contact.svg");
  }
  #about-background-svg {
    content:url("./assets/about.svg");
  }
}